Hi, thanks for reporting this! I would like to raise that [RFC 5321 (section 2.3.11)](https://www.rfc-editor.org/rfc/rfc5321#section-2.3.11) specifies that the part before the @ is case sensitive.

I see, so is this intended behavior? Most major email providers (gmail, hotmail, etc.) are case insensitive.

The only real solution i see here is making it conditional based on the email provider, which... might be a bit painful to do.